*, :after, :before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
}

