*, :after, :before {
    box-sizing: border-box;
}

body {
    margin: 0;
    --white: #eee;
    --black: #111;
}

a {
    color: var(--white);
}

.main {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
    color: var(--white);
}

